.main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  color: hsl(var(--c-underline));
}

a {
  font-weight: var(--fw-button);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: hsl(var(--c-brand));
}
