.facebook {
  > li {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 1.5rem;
  }

  a {
    font-weight: var(--fw-button);
    text-decoration: none;
    color: hsl(var(--c-underline));
  }

  a:hover {
    text-decoration: underline;
    color: hsl(var(--c-brand));
  }

  > li:has(> a:hover) img {
    filter: var(--bgc-icon-hover);
  }
}
